


.cardInd{
    /* min-width: 20rem  ; */
    /* border: 1px solid gray; */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.submitted{
    font-weight: 500;
    font-style: italic;
}

.comments{
    /* border: 1px solid gray; */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.btn-review{
   border-radius: .2rem;
}

.map{
    /* border: 1px solid gray */
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.5);
}

.place{
    font-weight: 600;
    font-size: 1.5rem;
}

/* .map > img{
    min-width: 100%;
} */

@media(min-width:875px){
    .mapAndDetails{
        display: flex;
    }
    .cardInd{
        max-width: 60%;
    }
    .map{
        height: fit-content;
    }
    .place{
        font-weight: 600;
        font-size: 2.2rem;
    }
}