







.welcome-box{
    background-color: rgb(204, 195, 195);
}
.welcome-text{
    font-size: 2.1rem;
    font-weight: 600;
}

.welcome-paragraph{
    font-size: 1.2rem;
    font-weight: 400;
}

.add-yours{
    text-decoration: underline;
    margin: 2rem 0;
    padding-bottom: 2rem;
}
.inputt{
    height: 2rem;
    border: 2px solid rgb(204, 195, 195);
}

.btnn{
    padding: 1rem 0;
}


.img{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: .2rem;
}
.card{
    /* border: 1px solid gray; */
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    max-width: 20rem;
}

.camp-name{
    font-weight: 600;
}

.view-btn{
    width: 100%;
    border: 1px solid gray;
    font-weight: 500;
    border-radius: .2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    /* padding-left: ; */
}

@media(min-width:477px){
    .campies{
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }
}
@media(min-width:765px){

    .welcome-box{
        background-color: rgb(204, 195, 195);
        
    }
    .formie{
        display: flex;
        width: 50%;
        padding: 2rem 0;
    }

    .inputt{
        /* margin: 2rem 0 ; */
        padding: 1.8rem 0;
        
    }
    .btnn{
        padding: .7rem 0;
        margin: 0 1.5rem;
        width: 40%;
    }
    .welcome-text{
        font-size: 2.6rem;
        font-weight: 700;
    }

}

.overlay{
    height: 10%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.2s;

}
.overlay .closebtn{
    position: absolute;
    font-size: 30px;
}
